/node_modules
/public/hot
/public/storage
/public/file_pelanggan/*
/public/apps/*
/storage/*.key
/storage/app/public/data-kegiatans/*
/storage/framework/laravel-excel/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
